- name: Update cache
  apt: 
    update_cache: yes
    cache_valid_time: 3600

- name: Install NFS Kernel server
  apt:
    name: nfs-kernel-server
    state: present

- name: Create DIR to used
  file:
    path: "{{ nfs_server.mount_path }}"
    state: directory
    owner: nobody
    group: nogroup
    mode: "0777"

# configuration inside /ect/exports (tell which user can use it)
- name: Write config on /etc/exports
  lineinfile:
    path: /etc/exports
    line: "{{ nfs_server.mount_path }} *(rw,sync,no_subtree_check,no_root_squash)"
    state: present
    create: yes

- name: Apply configuration
  command: exportfs -ra

- name: Restart nfs-kernel-server
  systemd:
    name: nfs-kernel-server
    enabled: true
    state: restarted