---
- name: Run jobservice container
  hosts: worker1
  vars: 
    app_dir: /app
  become: true

  tasks:

    - name: Create app directory on agent
      file:
        path: "{{ app_dir }}"
        state: directory
        mode: "0777"

    - name: Copy docker-compose.yml to agent
      copy:
        src: "{{ playbook_dir }}/../files/docker-compose.yml"
        dest: "{{ app_dir }}/docker-compose.yml"
        mode: "0777"

    - name: Copy .env to agent
      copy:
        src: "{{ playbook_dir }}/../files/.env" 
        dest: "{{ app_dir }}/.env"
        mode: "0777"

    - name: Remove existing jobservice container if present
      community.docker.docker_compose:
        project_src: "{{ app_dir }}"
        state: absent
    
    - name: Run docker-compose stack
      community.docker.docker_compose:
        project_src: "{{ app_dir }}"
        state: present
        restarted: yes