---
- name: Setup NFS client
  hosts: worker1, worker2
  become: true
  vars: 
    nfs_remote_dir: /srv/nfs_shared
    nfs_server_ip: 10.148.0.3
    nfs_local_dir: /mnt/nfs_shared
  
  tasks:
    - name: Update cache
      apt:
        update_cache: yes

    - name: Install NFS client
      apt:
        name: nfs-common
        state: present

    - name: Create local mount dir
      file: 
        path: "{{ nfs_local_dir }}"
        owner: nobody
        group: nogroup
        state: directory
        mode: "0777"

    - name: Create mount point to remote dir
      mount:
        src: "{{ nfs_server_ip }}:{{ nfs_remote_dir }}"
        path: "{{ nfs_local_dir }}"
        fstype: nfs
        opts: default,_netdev
        state: mounted
    - name: Persist mount even after reboot
      mount:
        src: "{{ nfs_server_ip }}:{{ nfs_remote_dir }}"
        path: "{{ nfs_local_dir }}"
        fstype: nfs
        opts: default,_netdev
        state: present